# env:
#   DOCKER_IMAGE: komorebicarry/baidupcs-rust
# name: Build Docker Image (Test)

# on:
#   push:
#     branches:
#       - main
#       - master
#   pull_request:
#     branches:
#       - main
#       - master

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Log in to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build Docker image (test only, no push)
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           file: ./Dockerfile
#           push: false
#           tags: ${{ env.DOCKER_IMAGE }}:test
#           cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}:buildcache
#           cache-to: type=registry,ref=${{ env.DOCKER_IMAGE }}:buildcache,mode=max

